/* /////////////////////////////////////////////// Generales ///////////////////////////////////////////// */

body {
  background-color: #000;
  color: #fff;
  margin: 20px 60px;
  font-family: "Montserrat", sans-serif;
}

.titulo {
  font-size: 36px;
  text-align: center;
  margin: 50px 0 20px 0;
}
.custom-separator {
  border: none;
  height: 1px;
  background: linear-gradient(to right, transparent, #7a7a7a, transparent);
  margin: 20px 0; /* Ajusta el margen según sea necesario */
  opacity: 0.6; /* Para darle una apariencia más suave */
}

/* ////////////////////////////////////////////// Bontones de inicio //////////////////////////////////////// */
.button-container-wrapper {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  transition: all 1s ease; /* Transición entre grid y slider */
}

.button-container-wrapper.grid .button-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  width: 100%;
  padding: 10px;
}

.button-container-wrapper.slider .button-container {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px 20px;
  transition: all 1s ease; /* Transición suave */
}
.button-container-slider {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px 20px;
  margin: 0 50px;
  /* Ocultar la barra de scroll en la mayoría de los navegadores */
  scrollbar-width: none; /* Firefox */
}

.button-container-slider::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.button-container {
  display: flex;
  flex-wrap: nowrap;
}

.button-container-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
}

.button-container-slider {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.button {
  background-color: #333;
  border: none;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  height: 160px;
  text-align: center;
  flex-shrink: 0; /* Evita que los botones se reduzcan en tamaño */
}

.button img {
  width: 80px;
  height: auto;
  margin-bottom: 10px;
  object-fit: contain;
}

.button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: #70addf;
}

.button.active {
  border: 2px solid #70addf;
  background-color: #70addf;
}

.button-text {
  color: #fff;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

.slider-button {
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  padding: 0px;
  justify-content: center;
}

.slider-button-left {
  left: 10px;
}

.slider-button-right {
  right: 10px;
}
/* --- Estilos Responsivos --- */

/* Pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .button-container-wrapper.grid .button-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas en lugar de 3 */
  }

  .button-container-grid {
    grid-template-columns: repeat(2, 1fr); /* Ajuste para pantallas pequeñas */
  }

  .button {
    width: 120px; /* Botones más pequeños */
    height: 140px;
  }

  .button img {
    width: 60px; /* Iconos más pequeños */
  }

  .button-text {
    font-size: 12px; /* Texto más pequeño */
  }
}

/* Pantallas extra pequeñas (teléfonos más pequeños) */
@media (max-width: 480px) {
  .button-container-wrapper.grid .button-container {
    grid-template-columns: repeat(1, 1fr); /* 1 columna */
  }

  .button-container-grid {
    grid-template-columns: repeat(
      1,
      1fr
    ); /* Ajuste para pantallas muy pequeñas */
  }

  .button {
    width: 100px;
    height: 120px;
  }

  .button img {
    width: 50px;
  }

  .button-text {
    font-size: 10px;
  }
}

/* ///////////////////////////// primer componente (LandingPageClickThrough) ///////////////////////////// */

.grid {
  margin: 40px 0px;
  display: flex;
  justify-content: space-around;
  font-size: 16px;
  gap: 100px;
  flex-wrap: wrap; /* Permitir que los elementos se ajusten en pantallas pequeñas */
}

.grid h4 {
  margin: 0;
  padding: 0;
}

.grid p {
  margin: 0;
  padding: 0;
}

.container-text {
  max-width: 600px;
  text-align: justify;
}

/* Estilos generales para el contenedor */
.section-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
  gap: 10px; /* Espacio entre las columnas */
  background-color: #2c2c2c;
  padding: 20px;
  border-radius: 8px;
}

/* Estilos para el checkbox */
.checkbox-wrapper-24 {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

button {
  background-color: #2c2c2c;
  color: white;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease; /* Transición suave */
}

button:hover:not(:disabled) {
  background-color: #444; /* Cambia el color al pasar el mouse */
}

button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

span {
  font-size: 16px;
}

/* --- Estilos Responsivos --- */

/* Pantallas medianas (tablets) */
@media (max-width: 768px) {
  .grid {
    gap: 40px; /* Reducir el espacio entre elementos */
    justify-content: left;
    padding: 0 20px;
  }

  .container-text {
    max-width: 100%; /* Ajustar al ancho completo de la pantalla */
    /* Agregar espacio interno */
  }

  .section-container {
    grid-template-columns: 1fr; /* Una sola columna en pantallas medianas */
    gap: 15px;
  }
}

/* Pantallas pequeñas (móviles) */
@media (max-width: 480px) {
  .grid {
    flex-direction: column; /* Cambiar a diseño en columna */
    gap: 20px;
  }

  .container-text {
    max-width: 100%;
    text-align: left; /* Cambiar a texto alineado a la izquierda */
  }

  .section-container {
    grid-template-columns: 1fr; /* Una columna para móviles */
    padding: 15px;
    gap: 10px;
  }

  .checkbox-wrapper-24 {
    margin-bottom: 12px;
  }

  button {
    padding: 6px 10px; /* Botones más grandes para usabilidad en móviles */
    font-size: 14px;
  }

  span {
    font-size: 14px; /* Texto más pequeño */
  }
}

/* Estilos para cada checkbox y su label */
/* Ocultamos el checkbox nativo */
/* Ocultamos el checkbox nativo */

.checkbox-wrapper-24 .checkbox {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}

.checkbox-wrapper-24 label {
  display: inline-block;
  color: #fff;
  cursor: pointer;
  position: relative;
}
.checkbox-wrapper-24 label span {
  display: inline-block;
  position: relative;
  background-color: transparent;
  width: 25px;
  height: 25px;
  transform-origin: center;
  border: 2px solid #fff;
  border-radius: 8px;
  vertical-align: middle;
  margin-right: 10px;
  transition: background-color 150ms 200ms,
    transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
}
.checkbox-wrapper-24 label span:before {
  content: "";
  width: 0px;
  height: 2px;
  border-radius: 2px;
  background: #fff;
  position: absolute;
  transform: rotate(45deg);
  top: 13px;
  left: 9px;
  transition: width 50ms ease 50ms;
  transform-origin: 0% 0%;
}
.checkbox-wrapper-24 label span:after {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background: #fff;
  position: absolute;
  transform: rotate(305deg);
  top: 16px;
  left: 10px;
  transition: width 50ms ease;
  transform-origin: 0% 0%;
}
.checkbox-wrapper-24 label:hover span:before {
  width: 5px;
  transition: width 100ms ease;
}
.checkbox-wrapper-24 label:hover span:after {
  width: 10px;
  transition: width 150ms ease 100ms;
}

.checkbox-wrapper-24 input[type="checkbox"] {
  display: none;
}
.checkbox-wrapper-24 input[type="checkbox"]:checked + label span {
  background-color: #479bdf;
  transform: scale(1.25);
}
.checkbox-wrapper-24 input[type="checkbox"]:checked + label span:after {
  width: 10px;
  background: #fff;
  transition: width 150ms ease 100ms;
}
.checkbox-wrapper-24 input[type="checkbox"]:checked + label span:before {
  width: 5px;
  background: #fff;
  transition: width 150ms ease 100ms;
}
.checkbox-wrapper-24 input[type="checkbox"]:checked + label:hover span {
  background-color: #333;
  transform: scale(1.25);
}
.checkbox-wrapper-24 input[type="checkbox"]:checked + label:hover span:after {
  width: 10px;
  background: #fff;
  transition: width 150ms ease 100ms;
}
.checkbox-wrapper-24 input[type="checkbox"]:checked + label:hover span:before {
  width: 5px;
  background: #fff;
  transition: width 150ms ease 100ms;
}

/* bloque de mas servicios  */
.moreItems {
  background-color: #70addf;
  color: white;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  opacity: 0; /* Oculto inicialmente */
  transform: translateY(-10px); /* Posición inicial */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Efecto de entrada */
}

.moreItems.visible {
  opacity: 1; /* Visible cuando limitReached es true */
  transform: translateY(0); /* Posición final */
}
.toggle-title {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 32px;
}

.arrow {
  margin-left: 8px;
}

.arrow-up {
  color: #ff5722;
}

.arrow-down {
  color: inherit;
}
.counter-wrapper {
  display: flex;
  align-items: center;
  border: solid 3px #70addf;
  border-radius: 8px;
  margin-right: 10px;
}
.checkbox-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

/* //////////////////////////////////////////// Calculadora /////////////////////////////////////////// */

.calculator-container {
  width: 900px;
  margin: 0 auto; /* Centrar horizontalmente */
}

.calculator-content {
  display: flex;
  justify-content: space-evenly;
  background-color: #2c2c2c;
  padding: 10px;
  border-radius: 8px;
  color: #ffffff;
  width: 100%;
  flex-wrap: wrap; /* Permitir que los elementos se ajusten en pantallas pequeñas */
}

.price-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Espaciado adicional en pantallas pequeñas */
}

.price-section h3 {
  margin: 30px 0px 20px 0px;
  font-weight: 400;
  font-size: 30px;
}

.price {
  font-size: 40px;
  font-weight: bold;
  margin: 30px 0;
}

.quote-button {
  height: 35px;
  width: 200px;
  background-color: #ff5722;
  border-radius: 5px;
  color: #ffffff;
  padding: 10px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 30px;
  font-weight: bold;
}

.quote-button:hover {
  background-color: #e64a19;
}

.items-section {
  text-align: left;
  margin: 30px 0px;
  max-width: 300px;
}

.items-section h3 {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
}

.items-section ul {
  list-style-type: disc;
  padding-left: 20px;
  margin: 20px 0;
  font-size: 18px;
}

.total {
  font-size: 28px;
  font-weight: bold;
  margin-top: 10px;
}

.calculator-container .items-list .item-name {
  white-space: normal; /* Permite que el texto se ajuste automáticamente a una nueva línea */
  word-wrap: break-word; /* Divide las palabras largas en múltiples líneas si es necesario */
  overflow-wrap: break-word; /* Asegura que el texto no se desborde */
  max-width: 100%; /* Asegura que el ancho máximo sea el 100% del contenedor */
  line-height: 1.4; /* Mejora la legibilidad del texto en múltiples líneas */
  margin-bottom: 8px; /* Añade un pequeño margen inferior para separar elementos */
}

.price-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.section-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.secciones-container {
  margin-top: 20px;
}

.extra-sections-container {
  margin-top: 20px;
}

.items-section {
  margin-top: 30px;
}

.extra-item {
  display: flex;
  align-items: center;
}

.icon-extra-section,
.icon-extra-page {
  margin-left: 8px;
  color: #70addf;
  font-size: 1.2rem;
}

.total-price {
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 20px;
}

.price {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}



/* Pantallas medianas (tablets) */
@media (max-width: 768px) {
  .calculator-container {
    width: 100%; /* Ocupa todo el ancho disponible */
    padding: 0 20px; /* Espaciado interno */
  }

  .calculator-content {
    flex-direction: column; /* Cambiar a diseño en columna */
    align-items: center;
    padding: 20px; /* Aumentar el espacio interno */
  }

  .price-section h3 {
    font-size: 24px; /* Reducir tamaño del título */
  }

  .price {
    font-size: 32px; /* Reducir tamaño del precio */
  }

  .quote-button {
    width: 180px; /* Botón más pequeño */
    font-size: 14px; /* Texto más pequeño */
  }

  .items-section {
    max-width: 100%; /* Ocupa todo el ancho disponible */
    margin: 20px 0;
  }

  .items-section ul {
    font-size: 16px; /* Reducir tamaño del texto */
  }

  .total {
    font-size: 24px; /* Reducir tamaño del total */
  }
}

/* Pantallas pequeñas (móviles) */
@media (max-width: 480px) {
  .calculator-content {
    padding: 10px; /* Reducir el espacio interno */
  }

  .price-section h3 {
    font-size: 20px; /* Reducir tamaño del título */
    margin: 20px 0px;
  }

  .price {
    font-size: 28px; /* Reducir tamaño del precio */
  }

  .quote-button {
    width: 150px; /* Botón más pequeño */
    font-size: 12px; /* Texto más pequeño */
    height: 30px; /* Reducir altura */
  }

  .items-section ul {
    font-size: 14px; /* Reducir tamaño del texto */
  }

  .total {
    font-size: 20px; /* Reducir tamaño del total */
  }
}
